--------------------------------
REQUIREMENTS ANALYSIS NOTES
--------------------------------

* ONLY ONE PERSON FROM EACH GROUP SHOULD SUBMIT THIS REPORT
* Each title and subtitle must contain the detailed explanation of all items in the drawing/chart/table.
* If you are unfamiliar to a term in this document, it is your responsibility to search and learn it.

-----------------------------------
REQUIREMENTS ANALYSIS CONTENTS
-----------------------------------

COVER PAGE
	Course information, report name, project title, group name and members, date etc.

CHANGE LOG TABLE (which parts are added, removed or updated) - Example in the lecture slides

1. INTRODUCTION
	Goal, contents and organization of the document.

2. SYSTEM REQUIREMENTS
	List of functional and non-functional requirements in natural language form (according to the guidelines in the lecture notes)
	
3. USE CASES
	3.1 User types - List of user profiles of the software
	3.2 User Scenarios - Create personas and write narrative scenarios for the list of actions
	3.3 Use Case Diagram - One diagram for the whole system and additional diagrams each software functionality.
	3.4 Use Cases - A use case for each feature/requirement in your project plan also containing alternative flows. 

4. USER INTERFACE MODEL
	Important screen mock-ups that are mapped to user stories and project components. 
		Choose 5 to 10 screens to demonstrate. 
		Do not include similar screens multiple times.
		You can use the rapid prototyping tools introduced in the recitation as well as any other tools to prepare mock-ups (Bootstrap, Balsamiq, Fluid UI, Proto.io, UXPin etc.). 

5. FLOW DIAGRAMS
	5.1 General Data Model - Entity relationship diagram for the data that is stored in a database.
	5.2 Important Data Considerations - Information about other data format preferences if applicable (Ajax, JSON, XML, etc.).
	5.3 Data Flow Diagram - Data Flow Diagram (minimum 2 levels (Level 0 - Level 2)) and its explanation. 

